.transactionHistory {
  border-collapse: collapse;
  width: 700px;
  margin: 0px 10px;
  border-radius: 8px;
}

.transactionHistory th {
  border: solid 1px white;
}
.transactionHistory td {
  border-right: solid 1px #e4e4e4;
}
.transactionHistory td:last-child {
  border-right: none;
}
.transactionHistory tbody > tr:nth-child(2n) {
  background-color: #ecf1f4;
}

.transactionHistory th {
  background-color: #00bcd5;
  color: #fff;
  height: 40px;
}
.transactionHistory td {
  text-align: center;
  height: 40px;
}
