.profile {
  border-radius: 8px;
  border: solid 1px gray;
  width: 300px;
}
.description {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  width: 100px;
  border-radius: 50%;
  margin-top: 30px;
}
.name {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
}
.tag {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
.location {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}
.stats {
  border-radius: 8px;
  border-top: solid 1px gray;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f3f6f9;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100% - 10px) / 3);
}
.item:nth-child(2) {
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}
